DirectoryIndex index.html 
# Заборонити відображення списку файлів у директорії
Options -Indexes

<Files "jobsite-341914-e38876844ac1.json">
  Require all denied
</Files>

<Files "composer.json">
  Require all denied
</Files>

<Files "composer.lock">
  Require all denied
</Files>

<Files "error_log">
  Require all denied
</Files>

